<!-- public/components/header.html -->
<header class="header">
  <form class="search" id="search-form">
    <input type="text" name="search" placeholder="请输入要查询的内容">
    <input type="submit" value="搜索">
  </form>

  <div class="upload">
    <button onclick="location.href='upload.html'">发表</button>
  </div>

  <div class="user" id="user-box">
    <img src="../img/user-64.png" alt="用户头像" id="user-avatar" style="display: none;">
    <span id="username" style="display: none;"></span>
    <button id="login-btn">登录</button>
    <button id="register-btn">注册</button>
    <button id="logout-btn" style="display: none;">退出</button>
  </div>
</header>

<link rel="stylesheet" href="../../css/components/header.css">
<!-- <script src="../../js/user/header.js"></script> -->